terraform/modules/data_factory/ingestion-pipeline.json
{
    "name": "ingestion",
    "properties": {
        "activities": [
            {
                "name": "standardize_name",
                "description": "Standardize patient name.",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "convert_to_fhir",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "${ingestion_container_url}/fhir/harmonization/standardization/standardize_names",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"data\":@{activity('convert_to_fhir').output.response.FhirResource}\n}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "standardize_phone",
                "description": "Standardize patient phone number.",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "standardize_name",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "${ingestion_container_url}/fhir/harmonization/standardization/standardize_phones",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"data\":@{activity('standardize_name').output.bundle}\n}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "geocode",
                "description": "Geocode and standardize patient address.",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "standardize_phone",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "${ingestion_container_url}/fhir/geospatial/geocode/geocode_bundle",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"bundle\":@{activity('standardize_phone').output.bundle},\n    \"geocode_method\": \"smarty\"\n}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "add_patient_hash",
                "description": "Compute a hashed identifier that can be used for record linkage.",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "geocode",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "${ingestion_container_url}/fhir/linkage/link/add_patient_identifier_in_bundle",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"bundle\":@{activity('geocode').output.bundle},\n    \"salt_str\" : \"some-dummy-salt\"\n}    ",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "convert_to_fhir",
                "description": "Convert message from Hl7 or CCD to FHIR.\n",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "${fhir_converter_url}/convert-to-fhir",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"input_data\": @{pipeline().parameters.message},\n    \"input_type\": \"@{pipeline().parameters.message_type}\",\n    \"root_template\": \"@{pipeline().parameters.root_template}\"\n}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "log_fhir_conversion_failure",
                "description": "Write FHIR conversion failures to storage.\n",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "convert_to_fhir",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "${ingestion_container_url}/cloud/storage/write_blob_to_storage",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"blob\": @{activity('convert_to_fhir').output.response},\n    \"cloud_provider\": \"azure\",\n    \"bucket_name\": \"fhir_conversion_failures\",\n    \"file_name\": \"@{pipeline().parameters.filename}\"\n}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "upload_fhir_bundle",
                "description": "Compute a hashed identifier that can be used for record linkage.",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "add_patient_hash",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "${ingestion_container_url}/fhir/transport/http/upload_bundle_to_fhir_server",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"fhir_url\": \"${fhir_server_url}\",\n    \"bundle\": @{activity('add_patient_hash').output.bundle},\n    \"cred_manager\": \"azure\"\n}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "log_fhir_upload_failure",
                "description": "Write FHIR upload failures to storage.",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "upload_fhir_bundle",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "${ingestion_container_url}/cloud/storage/write_blob_to_storage",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"blob\": @{activity('upload_fhir_bundle').output.response},\n    \"cloud_provider\": \"azure\",\n    \"bucket_name\": \"fhir_upload_failures\",\n    \"file_name\": @{pipeline().parameters.filename}\n   \"storage_account_url\": \"${storage_account_url}\"\n}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "message": {
                "type": "String"
            },
            "message_type": {
                "type": "String"
            },
            "root_template": {
                "type": "String"
            },
            "filename": {
                "type": "String"
            }
        },
        "annotations": [
            "FileName"
        ],
        "lastPublishTime": "2022-11-01T21:23:29Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
